---
title: "Games"
layout: default
header-img: "img/games-bg.png"
---

<!-- Page Header -->
<header class="intro-header" style="background-image: url('{{ site.baseurl }}/{% if page.header-img %}{{ page.header-img }}{% else %}{{ site.header-img }}{% endif %}')">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="site-heading" id="tag-heading">
                    <h1>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</h1>
                    <span class="subheading">{{ page.description }}</span>
                </div>
            </div>
        </div>
    </div>
</header>

<!DOCTYPE html>
<html class="no-js">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>MZ - Timeline</title>
        <link rel="stylesheet" type="text/css" href="css/timeline.css" />
        <script src="js/modernizr.custom.js"></script>
    </head>
    <body>
        <div class="container" style="margin:0;padding:0;width:100%;">
            <header></header>
            <div class="main">
                <ul class="cbp_tmtimeline">
                    <li>
                        <div class="cbp_tmlabel">
                            <h2 id="boxoffice">ORE @<a href = "https://www.couchcosmonauts.com/">Couch Cosmonauts</a></h2>
                            <time>2018.05</time>
                            <img src="../img/games/ORE_BG.png">
                            <ul>
                                <li>
                                    ORE is a chaotic local co-op twin-stick shooter full of crazy weapons and hostile alien worlds! Players work together to collect the precious resource they need to unlock new tools, guns, and modifications while exploring strange planets full of hidden secrets.<br>
                                    My role: Technical Material Artist, VFX Artist.
                                </li>
                                <li class="skill">
                                    <span class="i-substance"></span>
                                    <span class="i-ue"></span>
                                    <span class="link"><a target="_blank" href="https://steamcommunity.com/sharedfiles/filedetails/?id=921837372">Steam</a></span>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li>
                        <div class="cbp_tmlabel">
                            <h2 id="boxoffice">Looney Lander @EAE Prototype</h2>
                            <time>2016.10</time>
                            <video src="images/LooneyLander.mp4" poster="images/LooneyLander.png" width="650" height="340"  controls preload></video>
                            <ul>
                                <li>
                                    Looney Lander is a 2D platformer prototype inspired by Lunar Lander.<br>
                                    My role: 2D Artist, UI Designer.
                                </li>
                                <li class="skill">
                                    <span class="i-photoshop"></span>
                                    <span><b>HTML5</b></span>
                                </li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </body>
</html><!-- Page Header --> 

